<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Quản trị", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang chủ", "", "Home")</li>
                    <li>@Html.ActionLink("Quản Lý Phụ Kiện", "PhuKien", "Admin")</li>
                    <li>@Html.ActionLink("Quản Lý Kính", "Kinh", "Admin")</li>
                    <li>@Html.ActionLink("Quản Lý Khách hàng", "Khach", "Admin")</li>
                    <li>@Html.ActionLink("Quản Lý Admin", "TkAdmin", "Admin")</li>
                </ul>
                <ul class="nav navbar-nav" style="float:right; color:white">
                    <li>
                        @if (Session["TKAdmin"] != null)
                        {
                            <p style="padding-top:15px; font-size:14px">@Session["TKAdmin"].ToString(), <a href=@Url.Action("Login", "Admin" ) class="item" style="float:right"> Đăng xuất</a></p>
                        }
                    </li>
                </ul>
            </div>           
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
