<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HQM glasses</title>
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/popup.css" rel="stylesheet" />
    <link href="~/Content/Nu.css" rel="stylesheet" />
    <link href="~/Content/ChiTiet.css" rel="stylesheet" />
    <link href="~/Content/Zalo.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

</head>

<body>
    <div class="container">
        <div class="header">
            <div class="line">
                <h3>
                    Welcome to HQM glasses!
                    @*<h3 style="font-family:none; text-align:right; width:82%">
                        @if (Session["TaiKhoanKH"] != null)
                        {
                            <text>@Session["TaiKhoanKH"].ToString() </text>
                            <a href=@Url.Action("Logout", "NguoiDung" ) class="item">Đăng xuất</a>
                        }
                    </h3>*@
                </h3>              
            </div>

            <div class="menu">
                <div class="drop">
                    <a href=@Url.Action("SanPham", "Home" ) class="item ">Sản phẩm</a>
                    <div class="drop-menu">
                        <a href=@Url.Action("MatKinhNu", "Home" )>Mắt kính nữ</a>
                        <a href=@Url.Action("MatKinhNam", "Home" )>Mắt kính nam</a>
                        <a href=@Url.Action("MatKinhTreEm", "Home" )>Mắt kính trẻ em</a>
                    </div>
                </div>

                <div class="drop">
                    <a href=@Url.Action("PhuKien", "Home" ) class="item">Phụ kiện</a>
                    <div class="drop-menu">
                        <a href=@Url.Action("HopKinh", "Home" )>Hộp đựng kính</a>
                        <a href=@Url.Action("DayDeoKinh", "Home" )>Dây đeo kính</a>
                        <a href=@Url.Action("NuocLauKinh", "Home" )>Nước lau kính</a>
                    </div>
                </div>

                <a href="#footer-page" class="item">Liên hệ</a>

                <a href=@Url.Action("TrangChu", "Home" ) class="logo">
                    <img src="/img/HQM.png" width="180px"
                         height="80px" alt="">
                </a>


                @Html.Action("GioHangPartial", "GioHang")
                @if (Session["TaiKhoanKH"] != null)
                {
                    @*<text>@Session["TaiKhoanKH"].ToString() </text>*@
                    <a href=@Url.Action("TTKhachHang","NguoiDung",new { id = Session["MaKH"] })>@Session["TaiKhoanKH"].ToString()</a>
                    <a href=@Url.Action("Logout", "NguoiDung" ) class="item">Đăng xuất</a>
                }
                else
                {
                    <a href=@Url.Action("DangKy", "NguoiDung" ) class="item">Đăng ký</a>
                    <a href=@Url.Action("DangNhap", "NguoiDung" ) class="item">Đăng nhập</a>
                }
            </div>
        </div>

        <nav id="sideNav" style="right: -6px;">
            <ul>
                <li>
                    <a href=@Url.Action("TrangChu", "Home" )>
                        <img src="/img/side_nav_home.png" width="45" height="42" alt="HOME" class="rollover"
                             style="opacity: 1; ">
                    </a>
                </li>
                <li>
                    <a href="https://www.fb.com/profile.php?id=100004835897164"
                       onclick="window.open(this.href, 'window', 'width=750, height=550,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"
                       class="sicon-facebook">
                        <img src="/img/side_nav_facebook.png" width="45" height="42" alt="Facebook" class="rollover"
                             style="opacity: 1;">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/img/side_nav_facebook.png" width="45" height="42" alt="OFFICIAL SITE"
                             class="rollover" style="opacity: 1;">
                    </a>
                </li>
            </ul>
        </nav>

        <!-- het header -->
        <div class="navbar">
            <div class="banner">
                <img src="/img/HQM.gif" alt="">
            </div>
        </div>
        <div class="signature">
            <div class="content">
                <div class="col-md-9">
                    <div>
                        @RenderBody()
                    </div>
                </div>
                <!-- <script src="/js/popup.js"></script> -->
            </div>
            <div class="clear"></div>
        </div>



        <div class="clear"></div>
        <div class="gocHQM">
            <div class="title">
                <span>Góc HQM</span>
            </div>
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="content">
                            <a href="https://kinhmatlily.com/kien-thuc/nen-chon-mua-kinh-ram-nhu-the-nao-de-an-toan-va-chat-luong-n104"
                               target="_blank">
                                <img src="/img/link1.png"><br>
                                <h2>Nên chọn mua kính râm như thế nào để an toàn và chất lượng?</h2>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="content">
                            <a href="https://kinhmatlily.com/kien-thuc/kinh-mat-meo-phu-hop-voi-nhung-khuon-mat-nao-n645"
                               target="_blank">
                                <img src="/img/link2.png"><br>
                                <h2>Kính mắt mèo phù hợp với những khuôn mặt nào?</h2>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="content">
                            <a href="https://kinhmatlily.com/suc-khoe/an-gi-tot-cho-mat-bi-can-cung-lily-giai-dap-ngay-n644"
                               target="_blank">
                                <img src="/img/link3.png"><br>
                                <h2>Ăn gì tốt cho mắt bị cận?</h2>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="content">
                            <a href="https://kinhmatlily.com/bao-ve-mat/can-thi-la-gi-cac-phuong-phap-dieu-tri-can-thi-ma-ban-nen-biet-n103"
                               target="_blank">
                                <img src="/img/link4.png"><br>
                                <h2>Cận thị là gì? Các phương pháp điều trị cận thị mà bạn nên biết!</h2>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="content">
                            <a href="https://kinhmatlily.com/bao-ve-mat/loan-thi-la-gi-nguyen-nhan-va-cach-khac-phuc-loan-thi-n647"
                               target="_blank">
                                <img src="/img/link5.png"><br>
                                <h2>Loạn thị là gì? Nguyên nhân và cách khắc phục loạn thị</h2>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
        <!-- Swiper Script -->
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
        <script src="/js/Swiper.js"></script>

        <div class="chonKinh">
            <h2>Bạn có biết đeo loại kính nào sẽ giúp gương mặt của bạn đẹp hơn?</h2>
            <img src="/img/chonkinh.png" alt="">
        </div>


        <div id="pagetop" class="link2">
            <a href="#" ontouchstart="">
                <svg class="svg-inline--fa fa-chevron-up fa-w-14" aria-hidden="true" data-prefix="fa"
                     data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                     data-fa-i2svg="">
                    <path fill="currentColor"
                          d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z">
                    </path>
                </svg>
                <!-- <i class="fa fa-chevron-up"></i> -->
            </a>
            <div class="footer">

            </div>
        </div>
        <script src="/js/BacktoTop.js"></script>


        <div class="footer-page">
            <a id="footer-page"></a>
            <div class="line"></div>
            <div class="container">
                <div class="row">
                    <div class="footer-info">
                        <p>
                            <a href="#">
                                <h2>&emsp;Nhóm HQM </h2>
                            </a>
                        </p>
                        <pre style="margin-top: 10px;">
                        <strong>Đoàn Hữu Hòa</strong>
                    </pre>
                        <pre>
                        <strong>Phan Thị Bảo Hân</strong>
                    </pre>
                        <pre>
                        <strong>Nguyễn Thị Huỳnh My</strong>
                    </pre>
                        <pre>
                        <strong>Phạm Hồng Quân</strong>
                    </pre>
                    </div>
                    <div class="footer-items">
                        <div class="row">
                            <div class="footer-item">
                                <h2>Sản Phẩm</h2>
                                <div class="row">
                                    <div class="footer-item1">
                                        <h2 style="font-size: 24px;">Mắt kính</h2>
                                        <ul>
                                            <li>
                                                <a href=@Url.Action("MatKinhNam", "Home" )>Mắt kính nam</a>
                                            </li>
                                            <li>
                                                <a href=@Url.Action("MatKinhNu", "Home" )>Mắt kính nữ</a>
                                            </li>
                                            <li>
                                                <a href=@Url.Action("MatKinhTreEm", "Home" )>Mắt kính trẻ em</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="footer-item2">
                                        <h2 style="font-size: 24px;">Phụ kiện</h2>
                                        <ul>
                                            <li>
                                                <a href=@Url.Action("HopKinh", "Home" )>Hộp đựng kính</a>
                                            </li>
                                            <li>
                                                <a href=@Url.Action("DayDeoKinh", "Home" )>Dây đeo kính</a>
                                            </li>
                                            <li>
                                                <a href=@Url.Action("NuocLauKinh", "Home" )>Nước lau kính</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="footer-news">
                                <h2>Tin tức</h2>
                                <ul>
                                    <li>
                                        <a href="https://kinhmatlily.com/tin-tuc/bao-ve-mat" target="_blank">
                                            Bảo vệ
                                            mắt
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://kinhmatlily.com/tin-tuc/kien-thuc" target="_blank">
                                            Kiến
                                            thức
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://kinhmatlily.com/tin-tuc/suc-khoe" target="_blank">Sức khỏe</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-contact">
                                <h2>Liên hệ</h2>
                                <p>
                                    <strong>Email: contact.hqmglass@gmail.com</strong>
                                </p>
                                <p>
                                    <strong>SĐT: 0981061469</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="https://zalo.me/0349967352" id="linkzalo" target="_blank" rel="noopener noreferrer">
        <div id="fcta-zalo-tracking" class="fcta-zalo-mess">
            <span id="fcta-zalo-tracking"> Bạn cần hỗ trợ ?</span>
        </div> <div class="fcta-zalo-vi-tri-nut"> <div id="fcta-zalo-tracking" class="fcta-zalo-nen-nut"> <div id="fcta-zalo-tracking" class="fcta-zalo-ben-trong-nut"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 460.1 436.6"> <path fill="currentColor" class="st0" d="M82.6 380.9c-1.8-.8-3.1-1.7-1-3.5 1.3-1 2.7-1.9 4.1-2.8 13.1-8.5 25.4-17.8 33.5-31.5 6.8-11.4 5.7-18.1-2.8-26.5C69 269.2 48.2 212.5 58.6 145.5 64.5 107.7 81.8 75 107 46.6c15.2-17.2 33.3-31.1 53.1-42.7 1.2-.7 2.9-.9 3.1-2.7-.4-1-1.1-.7-1.7-.7-33.7 0-67.4-.7-101 .2C28.3 1.7.5 26.6.6 62.3c.2 104.3 0 208.6 0 313 0 32.4 24.7 59.5 57 60.7 27.3 1.1 54.6.2 82 .1 2 .1 4 .2 6 .2H290c36 0 72 .2 108 0 33.4 0 60.5-27 60.5-60.3v-.6-58.5c0-1.4.5-2.9-.4-4.4-1.8.1-2.5 1.6-3.5 2.6-19.4 19.5-42.3 35.2-67.4 46.3-61.5 27.1-124.1 29-187.6 7.2-5.5-2-11.5-2.2-17.2-.8-8.4 2.1-16.7 4.6-25 7.1-24.4 7.6-49.3 11-74.8 6zm72.5-168.5c1.7-2.2 2.6-3.5 3.6-4.8 13.1-16.6 26.2-33.2 39.3-49.9 3.8-4.8 7.6-9.7 10-15.5 2.8-6.6-.2-12.8-7-15.2-3-.9-6.2-1.3-9.4-1.1-17.8-.1-35.7-.1-53.5 0-2.5 0-5 .3-7.4.9-5.6 1.4-9 7.1-7.6 12.8 1 3.8 4 6.8 7.8 7.7 2.4.6 4.9.9 7.4.8 10.8.1 21.7 0 32.5.1 1.2 0 2.7-.8 3.6 1-.9 1.2-1.8 2.4-2.7 3.5-15.5 19.6-30.9 39.3-46.4 58.9-3.8 4.9-5.8 10.3-3 16.3s8.5 7.1 14.3 7.5c4.6.3 9.3.1 14 .1 16.2 0 32.3.1 48.5-.1 8.6-.1 13.2-5.3 12.3-13.3-.7-6.3-5-9.6-13-9.7-14.1-.1-28.2 0-43.3 0zm116-52.6c-12.5-10.9-26.3-11.6-39.8-3.6-16.4 9.6-22.4 25.3-20.4 43.5 1.9 17 9.3 30.9 27.1 36.6 11.1 3.6 21.4 2.3 30.5-5.1 2.4-1.9 3.1-1.5 4.8.6 3.3 4.2 9 5.8 14 3.9 5-1.5 8.3-6.1 8.3-11.3.1-20 .2-40 0-60-.1-8-7.6-13.1-15.4-11.5-4.3.9-6.7 3.8-9.1 6.9zm69.3 37.1c-.4 25 20.3 43.9 46.3 41.3 23.9-2.4 39.4-20.3 38.6-45.6-.8-25-19.4-42.1-44.9-41.3-23.9.7-40.8 19.9-40 45.6zm-8.8-19.9c0-15.7.1-31.3 0-47 0-8-5.1-13-12.7-12.9-7.4.1-12.3 5.1-12.4 12.8-.1 4.7 0 9.3 0 14v79.5c0 6.2 3.8 11.6 8.8 12.9 6.9 1.9 14-2.2 15.8-9.1.3-1.2.5-2.4.4-3.7.2-15.5.1-31 .1-46.5z"> </path> </svg> </div> <div id="fcta-zalo-tracking" class="fcta-zalo-text"> Chat ngay</div> </div> </div>
    </a>


    <script>
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            document.getElementById("linkzalo").href = "https://zalo.me/0349967352";
        }

    </script>

    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Sản phẩm</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                <div class="row">
                    <div class="pic">
                        <img class="Img" src="/img/A20.png" width="400" height="400">
                    </div>
                    <div class="text">
                        <h2> Kính HQM A20</h2>
                        <h2> 350.000 đ</h2>
                        <p style="text-align: left;">
                            Gọng kính cao cấp, chịu được lực cao. An toàn tuyệt đối.
                            <br>
                            Độ bền màu và tính đàn hồi cao. Ốc vặn được gia công kỹ lưỡng và cẩn thận.
                            <br>
                            Đệm mũi êm ái, tạo cảm giác dễ chịu khi đeo, cân đối giữa hai bên thái dương, mắt và sống
                            mũi.
                            <br>
                            Càng kính chắc chắn, không gây ra vết hằn khó chịu trên da.
                            <br>
                            Dễ phối đồ với nhiều phong cách khác nhau.
                            <br>
                            Phù hợp với nhiều khuôn mặt
                        </p>
                        <div class="row">
                            <div class="detail">
                                <button>Chi tiết sản phẩm</button>
                            </div>
                            <div class="cart">
                                <button>Thêm vào giỏ hàng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper('.swiper', {
            // Optional parameters
            slidesPerView: 3,
            direction: getDirection(),
            loop: true,

            // // If we need pagination
            // pagination: {
            //     el: '.swiper-pagination',
            // },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // // And if we need scrollbar
            // scrollbar: {
            //     el: '.swiper-scrollbar',
            // },
        });

        function getDirection() {
            var windowWidth = window.innerWidth;
            var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

            return direction;
        }
    </script>
</body>

</html>